.footer {
  background-color: $--background-color-dark;
  color: $--footer-Studio-text-color;
  height: 100%;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  bottom: 0;
  flex-direction: column;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
  }

  &__socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__optimizer {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }

  &__socialmedia {
    //margin-top: -30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  &__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-style: normal;
  }

  &__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 9px;
    flex-direction: column;
  }

  &__link {
    width: 120px;
    height: 17px;
    transition-property: color, fill, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: $--footer-Studio-text-color;
    opacity: 60%;
    font-weight: 400;
    font-size: 0.875rem;

    &:visited {
      color: $--body-font-color;
    }

    &:hover,
    &:focus {
      color: $--blue-text;
      opacity: 100%;
      fill: currentColor;
    }
  }

  &__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__logo {
    font-family: "raleway", sans-serif;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.19;
    color: $--footer-Studio-text-color;
    text-decoration: none;
    margin-bottom: 20px;

    &--blue {
      color: $--blue-text;
    }
  }

  & .socialmedia__link {
    background-color: $--social-media-icons-color;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $--blue-text;
    }
  }

  & .socialmedia__image {
    fill: $--footer-Studio-text-color;
  }
}

.newsletter {
  //margin-top: -30px;
  width: 100%;
  height: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20px;

  &__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    display: block;
  }
  &__label {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
  }

  &__btnText {
    display: flex;
    width: 82px;
  }

  &__input {
    border: 1px solid $--newsletter-border-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: calc(100% - 18px);
    height: 48px;
    background: $--background-color-dark;
    padding-left: 16px;
    color: $--footer-Studio-text-color;
    max-width: 400px;

    &::placeholder {
      color: $--newsletter-border-color;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      display: flex;
      align-items: center;
    }
  }

  &__form {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__btn {
    padding: 13px 47px 13px 47px;
    border: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: $--blue-text;
    box-shadow: 0px 4px 4px $--back-drop-color;
    border-radius: 4px;
    color: $--footer-Studio-text-color;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__optimizer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 580px;
      gap: unset;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    flex-direction: unset;

    &__address {
      text-align: left;
      align-items: unset;
    }

    &__container {
      align-items: unset;
    }

    &__section {
      align-items: unset;
    }

    &__contacts {
      text-align: left;
      align-items: unset;
    }

    &__text {
      text-align: unset;
    }

    &__socialmedia {
      margin-top: -30px;
    }
  }

  .newsletter {
    margin-top: -25px;
    align-items: unset;

    &__label {
      margin: 0;
    }

    &__input {
      width: 100%;
    }

    &__form {
      max-height: 50px;
      flex-direction: row;
    }
  }
}

// @media screen and (min-width: 768px) and (max-width: 1199px) {
//   .footer {
//     width: 768px;
//     height: 463px;
//     gap: 60px;

//     &__container {
//       text-align: center;
//     }

//     &__address {
//       text-align: center;
//       align-items: center;
//     }

//     &__socialmedia {
//       margin-top: 0;
//       text-align: center;
//     }
//   }

//   .newsletter {
//     width: 450px;
//     height: 156px;
//     margin-top: 0;
//     gap: 20px;
//     align-items: center;
//     justify-content: unset;

//     &__form {
//       height: 120px;
//       gap: 20px;
//       flex-direction: column;
//       align-items: center;
//     }

//     &__text {
//       text-align: center;
//     }
//   }
// }

// @media screen and (min-width: 480px) and (max-width: 767px) {
//   .footer {
//     width: 480px;
//     height: 603px;
//     gap: 60px;
//     flex-direction: column;

//     &__container {
//       text-align: center;
//     }

//     &__address {
//       text-align: center;
//       align-items: center;
//     }

//     &__socialmedia {
//       margin-top: 0;
//       text-align: center;
//     }
//   }

//   .newsletter {
//     width: 450px;
//     height: 156px;
//     margin-top: 0;
//     gap: 20px;
//     align-items: center;
//     justify-content: unset;

//     &__form {
//       height: 120px;
//       gap: 20px;
//       flex-direction: column;
//       align-items: center;
//     }

//     &__text {
//       text-align: center;
//     }
//   }
// }
