.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    height: 100%;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: none;
  }

  &__item {
    display: block;
    width: 155px;
    color: $--body-font-color;
  }

  &__contacts {
    display: none;
    margin-right: 15px;
  }

  &__logo {
    font-family: "raleway", sans-serif;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.19;
    color: $--body-font-color;
    text-decoration: none;
    margin-left: 15px;

    &--blue {
      color: $--blue-text;
    }
  }
}

.phoneMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: $--footer-Studio-text-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: transform, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__btn {
    border: 0;
    background-color: unset;
    margin-right: 15px;
  }

  &__closeBtn {
    border: 0;
    margin: 0 auto;
    padding: 0;
    top: 10px;
    right: 15px;
    position: absolute;
    background-color: unset;
    cursor: pointer;

    &:hover,
    &:focus {
      fill: $--blue-text;
    }
  }

  &__nav {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  &__tab:hover,
  &__tab:focus {
    color: $--blue-text;
  }

  &__item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;

    &--active {
      color: $--blue-text;
    }
  }

  &__contacts {
    padding: 0 0 48px 40px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 357px;
    min-width: 100px;
    align-items: flex-start;

    &--phoneNumber {
      font-size: 34px;
      color: $--blue-text;
    }

    &--E-mail {
      color: $--gray-text;
    }

    &--contacts {
      display: flex;
      flex-direction: column;
      gap: 32px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
    }
  }

  &__link {
    width: auto;
    color: $--blue-text;
  }

  &__break {
    color: $--main-form-label-color;
  }

  &__socialmedia {
    font-size: 18px;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}

.is-open {
  transform: translateX(0);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .phoneMenu {
    display: none;
    &__btn {
      display: none;
    }
  }

  .header {
    height: 80px;

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 93px;
    }

    &__nav {
      width: 275px;
      display: block;
      color: $--body-font-color;

      &--underline::after {
        content: "";
        top: -1px;
        left: 0px;
        width: 53px;
        height: 4px;
        transform: translateY(46px);
        background-color: $--blue-text;
        border-radius: 2px;
        position: absolute;
      }
    }

    &__list {
      display: flex;
      gap: 60px;
      width: 178px;
      margin: 0px;
      padding: 0px;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.14;
      text-decoration: none;
      color: $--body-font-color;

      &Item {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
      }
    }

    &__link {
      display: block;
      transition-property: color, fill, opacity;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      position: relative;

      &:visited {
        color: $--body-font-color;
      }

      &:hover,
      &:focus {
        color: $--blue-text;
        opacity: 100%;
        fill: currentColor;
      }
    }

    &__contacts {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    }
    &__image {
      margin-right: 15px;
      display: none;
    }

    &__item {
      color: $--gray-text;
      fill: currentColor;
      font-weight: 400;
      font-size: 0.875rem;
      height: 12px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    gap: 345px;

    &__container {
      display: flex;
      gap: 93px;
      align-items: center;
    }

    &__nav {
      width: 275px;
      display: block;
      color: $--body-font-color;

      &--underline::after {
        content: "";
        top: -1px;
        left: 0px;
        width: 53px;
        height: 4px;
        transform: translateY(46px);
        background-color: $--blue-text;
        border-radius: 2px;
        position: absolute;
      }
    }

    &__list {
      display: flex;
      gap: 60px;
      width: 178px;
      margin: 0px;
      padding: 0px;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.14;
      text-decoration: none;
      color: $--body-font-color;

      &Item {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
      }
    }

    &__link {
      display: block;
      transition-property: color, fill, opacity;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      position: relative;

      &:visited {
        color: $--body-font-color;
      }

      &:hover,
      &:focus {
        color: $--blue-text;
        opacity: 100%;
        fill: currentColor;
      }
    }

    &__contacts {
      display: flex;
      justify-content: center;
      flex-direction: unset;
      gap: 30px;
    }
    &__image {
      margin-right: 15px;
      display: none;
    }

    &__item {
      color: $--gray-text;
      fill: currentColor;
      font-weight: 400;
      font-size: 0.875rem;
      height: 12px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

// .header {
//   width: 1600px;
//   padding-top: 0px;
//   display: flex;
//   align-items: center;
//   height: 80px;
//   margin: 0 auto;

//   &__nav {
//     color: $--body-font-color;

//     &--underline::after {
//       content: "";
//       left: 0px;
//       width: 53px;
//       height: 4px;
//       transform: translateY(46px);
//       background-color: $--blue-text;
//       border-radius: 2px;
//       position: absolute;
//     }
//   }

//   &__link {
//     display: block;
//     transition-property: color, fill, opacity;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     position: relative;

//     &:visited {
//       color: $--body-font-color;
//     }

//     &:hover,
//     &:focus {
//       color: $--blue-text;
//       opacity: 100%;
//       fill: currentColor;
//     }
//   }

//   &__list {
//     display: flex;
//     gap: 46px;
//     width: 254px;
//     margin: 0px;
//     margin-left: 93px;
//     margin-right: 371px;
//     padding: 0px;
//     font-weight: 500;
//     font-size: 0.875rem;
//     line-height: 1.14;
//     text-decoration: none;
//     color: $--body-font-color;
//   }

//   &__logo {
//     font-family: "raleway", sans-serif;
//     font-weight: 700;
//     font-size: 1.625rem;
//     line-height: 1.19;
//     color: $--body-font-color;
//     text-decoration: none;
//     margin-left: 215px;

//     &--blue {
//       color: $--blue-text;
//     }
//   }

//   &__item {
//     color: $--gray-text;
//     fill: currentColor;
//     font-weight: 400;
//     font-size: 0.875rem;
//     height: 12px;
//     display: flex;
//     align-items: center;
//     gap: 10px;
//   }

//   &__listItem {
//     font-family: "Roboto";
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//   }

//   &__contacts {
//     display: flex;
//     justify-content: center;
//     gap: 30px;
//   }
//   &__image {
//     margin-right: 15px;
//     display: none;
//   }
// }
// .phoneMenu {
//   display: none;
//   &__btn {
//     display: none;
//   }
// }

// @media screen and (min-width: 768px) and (max-width: 1199px) {
//   .header {
//     width: 768px;
//     height: 80px;
//     justify-content: center;

//     &__logo {
//       margin-left: 15px;
//     }

//     &__list {
//       margin-right: 101px;
//     }

//     &__contacts {
//       display: flex;
//       justify-content: center;
//       flex-direction: column;
//       gap: 10px;
//     }
//   }
// }

// @media screen and (min-width: 480px) and (max-width: 767px) {
//   .header {
//     width: 480px;
//     height: 60px;
//     justify-content: space-between;
//     &__contacts {
//       display: none;
//     }
//     &__nav {
//       display: none;
//     }
//     &__logo {
//       margin-left: 15px;
//     }
//     &__image {
//       margin-right: 15px;
//       display: block;
//     }
//   }

//   .is-open {
//     transform: translateX(0);
//   }

//   .phoneMenu {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     padding: 32px;
//     background-color: #3f51b5;
//     z-index: 999;

//     transform: translateX(100%);
//     transition: transform 250ms ease-in-out;

//     &__btn {
//       border: none;
//       background: none;
//       display: block;
//       cursor: pointer;
//     }

//     &__closeBtn {
//       border: none;
//       background: none;
//       position: absolute;
//       top: 16px;
//       right: 16px;
//     }
//   }
// }
