.our-atuts {
    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @include tablet {
        }
        
        @include desktop {
            display: flex;
            flex-wrap: nowrap;
            gap: 30px;
        }
    }

    &__item {
        @include tablet {
            flex-basis: calc((100% - 30px) / 2);
        }

        @include desktop {
            width: 270px;
        }
    }

    &__icon {
        background-color: $seventh-color;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        padding: 25px 100px;
    }

    &__heading {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
    }

    &__text {
        text-align: left;
        color: $fourth-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;

        @include desktop {
            width: 270px;
        }
    }
}
