.social-list {
    @include flex-box ($gap: 10px, $align-items: null);
    margin-bottom: 24px;

    @media screen and (min-width:1200px) {
        margin-bottom: 30px;
    }

    &__item {
        width: 44px;
        height: 44px;
    }

    &__link {
        @include flex-box ($display: inline-flex, $gap: null);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        color: var(--social-color);

        @include animation-double ();
    }

    &__icon {
        fill: currentColor;
    }

    &--light {
        @media screen and (max-width:767px) {
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;
        }

        @include flex-box ($gap: 10px, $align-items: null, $justify-content: start);
    }

    &__item--light {
        width: 44px;
        height: 44px;
    }

    &__link--light {
        @include flex-box ($display: inline-flex, $gap: null);
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        color: var(--white-color);
        width: 100%;
        height: 100%;

        @include animation (background-color);
    }

    &__link--light {
        @include flex-box ($display: inline-flex, $gap: null);
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        color: var(--white-color);
        width: 100%;
        height: 100%;

        @include animation (background-color);
    }

    &__icon--light {
        fill: var(--white-color);
    }
}

.social-list__link {

    &:hover,
    &:focus {
        background-color: var(--blue-txt-color);
        color: var(--white-color);
    }
}

.social-list__link--light {

    &:hover,
    &:focus {
        background-color: var(--blue-txt-color);
    }
}