$--footer-Studio-text-color: rgb(255, 255, 255);
$--body-font-color: #212121;
$--blue-text: #2196f3;
$--gray-text: #757575;
$--background-color-dark: #2f303a;
$--portfolio-gallery-border-color: #eeeeee;
$--crue-gallery-color: #f5f4fa;
$--line-color: #ececec;
$--social-media-color: #afb1b8;
$--social-media-icons-color: rgba(255, 255, 255, 0.1);
$--newsletter-border-color: rgba(255, 255, 255, 0.3);
$--main-form-label-color: rgba(33, 33, 33, 0.2);
$--text-in-comment-container: rgba(117, 117, 117, 0.5);
$--back-drop-color: rgba(0, 0, 0, 0.2);
