$first-color: #212121;
$second-color: #2196f3;
$third-color: #000000;
$fourth-color: #757575;
$fifth-color: #2f303a;
$sixth-color: #eeeeee;
$seventh-color: #f5f4fa;
$eighth-color: #ececec;
$ninth-color: #e5e5e5;
$tenth-color: #ffffff;
$eleventh-color: #ffffff99;
$twelfth-color: #afb1b8;
